@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800');

:root {
    --app-spacer: 30px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container{
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px 20px;
    box-sizing: border-box;
}
#second{
    color: white;
    font-size: 28px;
    background: #80c9d2;;
    margin: 0 0 var(--app-spacer);
    font-style: italic;
    font-weight: 600;
}
#first{
    color: #26bdcf;
    font-size: 30px;
    margin: 0 0 var(--app-spacer);
}

th {
    font-weight: 600;
}

.firstTable {
    padding-top: 0;
}

table{
    width: 100%;
    padding: 10px
}
thead{
    font-size:25px;
    padding: 10px;
}
#secondTable {
    border-collapse: collapse;
}
#secondTable tr:nth-of-type(odd) td,
#secondTable tr:nth-of-type(odd) th {
    background: #eaf5f5;
}
#secondTable thead tr:nth-of-type(odd) th {
    background: transparent;
    padding-bottom: 10px;
}
.option{
    width: 100px;
    padding: 10px 20px;
    font-size: 20px;
    text-align: right;
}
.description{
    padding: 10px 20px;
    font-size: 19px;
    text-align: left;
}
    